<!DOCTYPE html>
<html>

<head>
  <% if (busy) { %>
  <title>SHHHH</title>
  <% } else {%>
  <title>I'm free</title>
  <% } %>
</head>

<body style="margin:0;padding:0;">
  <% if (busy) { %>
  <div style="background: red;width: 100vw;height: 100vh;"></div>
  <% } else {%>
  <div style="background: green;width: 100vw;height: 100vh;"></div>
  <% } %>
</body>

</html>